<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/stylesheets/ui-lightness/jquery-ui-1.8.custom.css" type="text/css">
<style>
  .float_left {
    float:left;
    margin-left:10px;
  }
  .float_right {
    float:right;
  }
  .controls {
    float:left;
    margin-left:100px;
  }
  #statuses {
    clear:both;
    padding-top:50px;
    padding-left:20px;
  }
  .status-meta {
    float:right;
  }
  .clear {
    clear:both;
  }
</style>
    
<div id="status_input" class="float_left">
    <p>
    Hello <%= @user.username %>
  </p>
  <textarea id="text" width="500" cols="100" rows="2"></textarea><br/>
  <button type="button" onClick="findName($('textarea#text').val());">Ok</button>
</div>
<div id="subscriptions" class="float_left">
  Subscriptions:<br/>
  <%= @subs.join("") %>
  <p/>
  <button type="button" onClick="$('#remote').dialog({ position: ['center','top'] }); $('#remotename').focus();">Remote Subscribe [+]</button>
</div>
<div id="ostatus" class="float_right">
  <img src="/images/ostatus.png" height=48 width=48>
</div>

<div id="msg" style="display:none;"></div>
<div id="salmon" style="display:none"></div>
<div id="user" style="display:none"></div>
<div id="remote" style="display:none;">
  Enter remote user@hostname:<br/>
  <input type="text" id="remotename"><br/>
  <input type="submit" value="Subscribe" onClick="remoteSub();">
</div>
<div id="statuses">
  <p>
    <%  
    @statuses.sort_by{ |status| status[:updated] }.reverse[0..10].each do |status| 
      time = distance_of_time_in_words(status[:updated], Time.now) %>
    
      <p><img src=<%= status[:image] %> alt='<%= status[:author] %>' height="48" width="48" /><%= status[:user] %>@<%= status[:host] %>: <%= status[:text] %></p>
      <div class="controls">
          <%= time %> <% unless status[:conversation].nil? || status[:conversation].empty? %><a href=<%= status[:conversation] %>>in context</a> <% end %>
          <a href="javascript:" onClick="enterReply('<%= status[:user] %>','<%= status[:conversation] %>', '<%= status[:url] %>','<%= status[:salmon] %>', '<%= status[:host] %>');">reply</a>
          <br/></br/>  
      </div><div class="clear"></div>
    <% end %>
  </p>
</div>


<script>
  var user;
  var reply_id = "";
  var conversation;
  var reply_author;
  var salmon;
  var reply = "";
  
  function findName(text){
    //console.log(text);
    //alert(text);
    if (username = /@(\w+)/.exec(text) && reply_id == ""){
      alert(reply_id+" username found and no response");
      user = username[1];
      $.getJSON("/main/findname",
        { user: user}, 
        function(json){ showDialog(json); });
    }
    else if (reply_id != "") {
      alert(reply_id+" this is a response");
      $.getJSON("/main/post", { user: $("#user").val(), salmon: $("#salmon").val(), text: $("#text").val(), reply_author: reply_author, reply: reply_id, conversation: conversation, text: $("#text").val()}, function(json){ alert(json); });
      $("#text").val("");
    }
    else {
      alert("No username and no reponse");
      $.getJSON("/main/post", { text: $("#text").val() }, function(json){ alert(json); });
    }
  }
  function showDialog(text){
    $("#msg").append("The following users match: @"+user+"<p/>")
    $.each(text, function(index, value){
      $("#msg").append("<input type='radio' name='user' value="+value+">"+value+"<br/>");
      
    });
    $("#msg").append("<input type=submit onClick='getChecked(); closeMe();'>");
    $('#msg').dialog({ position: ['left','top'], close: function(event, ui) { $("#msg").text(""); } });

    
    
  }
  function closeMe(){ $("#msg").dialog("close"); $("#msg").text("");  }
  function getChecked(){
    var txt = $("input[name='user']:checked").val();
    alert(txt+salmon);
    $.getJSON("/main/post", { salmon: $("#salmon").val(), reply_author: reply_author, reply: reply_id, conversation: conversation, user: txt, text: $("#text").val() }, function(json){ alert(json); });
    $("#text").val("");
  }
  function remoteSub(){
    $.getJSON("/main/subscribe",
      { remotename: $("#remotename").val() },
      function(json){ 
        alert(json); 
        $("#remote").dialog("close");
        $("#remotename").val("");
        window.location.reload();
       });
  }
  function enterReply(user,converse,reply,salmon,host){
    $("#text").val("@"+user+" ");
    $("#text").focus();
    conversation = converse;
    reply_id = reply;
    reply_author = reply_author;
    salmon = salmon;
    //alert(salmon);
    $("#user").val(user+"@"+host);
    $("#salmon").val(salmon);
    alert($("#salmon").val());
    alert($("#user").val());
    
  }
</script>
