<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/stylesheets/ui-lightness/jquery-ui-1.8.custom.css" type="text/css">
<style>
  .float_left {
    float:left;
    margin-left:10px;
  }
  .float_right {
    float:right;
  }
  #statuses {
    clear:both;
    padding-top:50px;
    padding-left:20px;
  }
</style>
    
<div id="status_input" class="float_left">
    <p>
    Hello <%= @user.username %>
  </p>
  <textarea id="text" width="500" cols="100" rows="2"></textarea><br/>
  <button type="button" onClick="findName($('textarea#text').val());">Ok</button>
</div>
<div id="subscriptions" class="float_left">
  Subscriptions:<br/>
  <%= @subs.join(", ") %>
  <p/>
  <button type="button" onClick="$('#remote').dialog({ position: ['center','top'] }); $('#remotename').focus();">Remote Subscribe [+]</button>
</div>
<div id="msg" style="display:none;"></div>
<div id="remote" style="display:none;">
  Enter remote user@hostname:<br/>
  <input type="text" id="remotename"><br/>
  <input type="submit" value="Subscribe" onClick="remoteSub();">
</div>
<div id="statuses">
  <p>
    <% @statuses.sort_by{ |status| status[:updated] }.reverse.[0..10].each do |status| %>
      <p><img src=<%= status[:image] %> height="48" width="48"><%= status[:user] %>@<%= status[:host] %>: <%= status[:text] %></p>
    <% end %>
  </p>
</div>


<script>
  var user;
  function findName(text){
    //console.log(text);
    //alert(text);
    if (username = /@(\w+)/.exec(text)){
      //alert("contains username: "+username[1])
      user = username[1];
      $.getJSON("/main/findname",
        { user: user}, 
        function(json){ showDialog(json); });
    }
    else {
      //alert("no username detected")
    }
  }
  function showDialog(text){
    $("#msg").append("The following users match: @"+user+"<p/>")
    $.each(text, function(index, value){
      $("#msg").append("<input type='radio' name='user' value="+value+">"+value+"<br/>");
      
    });
    $("#msg").append("<input type=submit onClick='getChecked(); closeMe();'>");
    $('#msg').dialog({ position: ['left','top'], close: function(event, ui) { $("#msg").text(""); } });

    
    
  }
  function closeMe(){ $("#msg").dialog("close"); $("#msg").text("");  }
  function getChecked(){
    var txt = $("input[name='user']:checked").val();
    alert(txt);
  }
  function remoteSub(){
    $.getJSON("/main/subscribe",
      { remotename: $("#remotename").val() },
      function(json){ 
        alert(json); 
        $("#remote").dialog("close");
        $("#remotename").val("");
        window.location.reload();
       });
  }
</script>
